<div>
    <h1>Productos en tiempo real</h1>
    {{!-- <form onsubmit="return addMessage()" action="">
        <input type="text" id="username" placeholder="Nombre">
        <input type="text" id="texto" placeholder="data">
        <input type="submit" value="Enviar">
    </form> --}}
</div>

<ul class="list-group list-group-flush" id="container-products">
 {{!-- aqui van la lista de todos los productos --}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>